@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* inline grid form styling */
.grid-inline {
  display: grid;
  grid-template-rows: 1fr;
}
.grid-inline .input-group {
  display: grid;
  grid-template-columns: 30% 70%;
}

/* general styling */

body {
  font-family: 'Open Sans', sans-serif;
}

form {
  width: device-width;
  padding: 30px;
  color: #fff;
  background-color: #2CA0F6;
  /* box-shadow: bottom right opacity size*/
  box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.75);
}
.input-group {
  margin-bottom: 8px;
}
input[type="text"], input[type="email"]{
  height: 1.4em;
}
input[type="submit"]{
  display: block;
  margin-left: auto;
  width: 100px;
  max-width: 100px;
  height: 30px;
  color: #fff;
  background-color: #F62C73;
  outline: none;
  border: none;
  box-shadow: 2px 4px 10px 0px rgba(0,0,0,0.75);
}
input[type="submit"]:hover {
  background-color: #2EF62C;
}

/* let's make the form mobile friendly 
@media (max-width:device-width) {
  form{
    width: 300px;
  }*/
}
